@import "src/shared/ui/styles/layout/var";

.chat_empty {
  @extend %paragraph6;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $grey56;

  .text {
    margin-top: 16px;
    text-align: center;

    a {
      cursor: pointer;
      color: $primary;
    }
  }
}
