@import "layout/var";

.mini-video {
  height: 192px;
  background: #000;
  flex-shrink: 0;

  &--default {
    .mini-video-default {
      display: flex;
    }
  }

  &--loading {
    .mini-video__loader {
      display: flex;
    }
  }

  &--active {
    .mini-video__block {
      display: block;
    }
  }

  &--no_video {
    .mini-video__no-video {
      display: flex;
    }
  }

  &__loader {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__no-video {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__block {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(0.09deg, rgba(42, 42, 42, 0.56) 0.19%, rgba(42, 42, 42, 0) 42.26%);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
  }

  &__microphone {
    @extend %paragraph6;

    color: $grey;
    padding: 3px 0 0 32px;
    margin: 0 0 16px 16px;
    cursor: pointer;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 0;
    }

    &--off {
      &:before {
        background-image: url("../img/microphone-off-white-icon.svg");
      }
    }

    &--on {
      &:before {
        background-image: url("../img/microphone-on-white-icon.svg");
      }
    }
  }
}

.mini-video-default {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

  &__text {
    @extend %paragraph2;

    margin-top: 8px;
    color: $grey;
    text-align: center;
  }

  &__button {
    @extend %paragraph2;

    color: $grey;
    border: 1px solid $grey;
    border-radius: 20px;
    margin-top: 16px;
    padding: 11px 24px 9px;
    cursor: pointer;

    &:hover {
      border-color: $primary;
      background: $primary;
      color: $grey;
    }

    &:disabled,
    &--disabled {
      border-color: $grey56;
      color: $grey56;
      cursor: default;
      pointer-events: none;
    }
  }
}
