@import "layout/var";

.video-advantages {
  margin: 32px 200px 0 0;
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 1599px) {
    flex-wrap: wrap;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-top: 0;
    padding: 24px 12px 40px;
    background: #fff;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 1px solid $black08;
    margin-right: 20px;
    flex-shrink: 0;

    @media (max-width: 1234px) {
      border-right: 0;
    }

    &:nth-child(2) {
      @media (max-width: 1599px) {
        border-right: 0;
        margin-right: 0;
      }

      @media (max-width: 1234px) {
        width: 100%;
        margin-top: 36px;
      }

      @media (max-width: 767px) {
        margin-top: 28px;
      }
    }

    &:last-child {
      border-right: 0;
      margin-right: 0;

      @media (max-width: 1599px) {
        margin-top: 36px;
        width: 100%;
      }

      @media (max-width: 767px) {
        margin-top: 28px;
      }
    }
  }

  &__content {
    margin-left: 16px;
  }

  &__title {
    @extend %paragraph2;

    color: $black;
  }

  &__text {
    @extend %paragraph6;

    color: $black;
  }
}
