@import "src/shared/ui/styles/layout/var";

.sidebar_panel {
  background: $ultraBlack !important;
  border-left: 1px solid $black8;
  flex-grow: 1;
  padding: 20px 40px;
  //transform: translateX(calc(-100% - 120px));
  //transition: 0.5s;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 120px;
  right: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    padding: 16px;
    left: 0;
    border-left: none;
  }

  &.no_logo {
    padding: 0 !important;

    .logo {
      display: none;
    }
  }

  &--contacts {
    padding: 20px 24px;

    @media (max-width: 767px) {
      padding: 16px 12px;
    }

    .sidebar-panel__logo {
      margin-left: 16px;

      @media (max-width: 767px) {
        margin-left: 0;
      }
    }

    .sidebar-panel__content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  }

  &--chat {
    padding: 0 !important;
  }

  .logo {
    margin-bottom: 20px;
    @media (max-width: 767px) {
      width: 141px;

      img {
        width: 100%;
      }
    }
  }

  .mobile_close {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background: url("/img/close-icon.svg");

    @media (max-width: 767px) {
      display: block;
    }
  }

  .content {
    overflow: auto;
    flex-grow: 1;

    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  h2 {
    @extend %heading1;

    margin-top: 20px;
    margin-bottom: 10px;

    color: $grey;

    & + .sidebar-panel-checkbox,
    & + .sidebar-panel-radio,
    & + .sidebar-panel__security {
      border-top: 1px solid $grey08;
      margin-top: 8px;
    }
  }

  h3 {
    @extend %heading3;

    margin-top: 24px;
    color: $grey8;

    & + .sidebar-panel-checkbox,
    & + .sidebar-panel-radio {
      border-top: 1px solid $grey08;
      margin-top: 8px;
    }
  }

  &__security {
    @extend %text;

    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid $grey08;
    cursor: pointer;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 16px;
      right: 0;
      width: 24px;
      height: 24px;
      background: url("/img/pencil-icon.svg");
    }

    &:hover {
      .sidebar-panel__security-label {
        color: $grey;
      }
    }
  }

  &__security-label {
    width: 92px;
    color: $grey8;
    transition: 0.3s;

    @media (max-width: 767px) {
      width: 88px;
    }
  }

  &__security-value {
    margin-left: 12px;
    color: $grey56;

    @media (max-width: 767px) {
      margin-left: 4px;
    }
  }

  &__button {
    @extend %paragraph2;

    color: $grey;
    margin-top: 40px;
    border: 1px solid $grey;
    border-radius: 20px;
    width: 100%;
    padding: 11px 0 9px;
    cursor: pointer;

    &:hover {
      background: $primary;
      color: $grey;
      border-color: $primary;
    }

    &:disabled,
    &--disabled {
      border-color: $grey56;
      color: $grey56;
      cursor: default;
      pointer-events: none;
    }
  }

  &__age {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding: 6px 0;
    border-top: 1px solid $grey08;
    border-bottom: 1px solid $grey08;

    input {
      @extend %paragraph3;

      width: 108px;
      height: 44px;
      display: block;
      color: $grey;
      background: $grey08;
      border: 1px solid $grey08;
      padding: 2px 16px 0;
      transition: 0.3s;

      @include placeholderColor($grey8);

      &:hover,
      &:focus,
      &:active {
        border-color: $secondary;
      }
    }

    span {
      width: 12px;
      height: 1px;
      display: block;
      background: $grey8;
      margin: 0 12px;
    }
  }
}
