@import "src/shared/ui/styles/layout/var";

.profile-mobile-baner {
  width: 100%;
  padding: 16px 8px 0;
  overflow: hidden;
  display: none;

  @media (max-width: 767px) {
    display: block;
  }

  img {
    width: 100%;
  }
}
