@import "layout/var";

.user-info {
  background: #fff;
  border: 1px solid $black08;
  padding: 0 20px;
  width: 100%;

  @media (max-width: 767px) {
    padding: 0 12px;
  }

  & > div:last-child {
    border-bottom: 0;
  }

  // disabled

  &--disabled {
    background: transparent;

    @media (max-width: 767px) {
      padding: 0 20px;
    }

    .user-info__top,
    .user-info__center,
    .user-info__text-block {
      display: none;
    }

    .user-info__top--disabled {
      display: flex;
    }

    .user-info__center--disabled {
      display: block;
    }
  }

  // profile

  &--profile {
    .user-info__top:not(.user-info__top--disabled) {
      display: block;
    }

    .user-info__name:not(.user-info__name--disabled) {
      margin-bottom: 4px !important;
    }

    .user-info__about {
      position: relative;
      bottom: auto;
      left: auto;
      margin-top: 0 !important;
      flex-wrap: wrap;
      overflow: visible;
    }

    .user-info__about-gradient {
      display: none;
    }

    .user-info__update-location {
      display: flex;
    }

    .user-info__status:not(.user-info__status--disabled) {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        right: 100%;
        width: 4px;
        height: 100%;
        background: $grey;
        opacity: 0;
        transition: 0.3s;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        width: 4px;
        height: 100%;
        background: $grey;
        opacity: 0;
        transition: 0.3s;
      }

      &:hover {
        background: $grey;

        &:before,
        &:after {
          opacity: 1;
        }
      }
    }
  }

  // top

  &__top {
    border-bottom: 1px solid $black08;
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    position: relative;

    @media (max-width: 1599px) {
      flex-wrap: wrap;
      padding-bottom: 16px;
    }

    @media (max-width: 767px) {
      padding-top: 12px;
      align-items: center;
    }

    &--disabled {
      display: none;
      flex-wrap: nowrap !important;

      @media (max-width: 767px) {
        padding: 20px 0;
      }
    }
  }

  &__ava {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;

    @media (max-width: $sm) {
      order: 0;
    }

    @media (max-width: 767px) {
      width: 44px;
      height: 44px;
      margin-right: 8px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &--disabled {
      background: $black08;
      margin-right: 16px;

      @media (max-width: 767px) {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__main {
    display: flex;

    @media (max-width: 1599px) {
      flex-direction: column;
    }

    @media (max-width: $sm) {
      order: 1;
    }
  }

  &__name {
    @extend %title;

    color: $black;
    margin: 4px 12px 0 0;

    @media (max-width: 1599px) {
      margin-bottom: 4px;
    }

    &--disabled {
      width: 73px;
      height: 16px;
      background: $black08;
      border-radius: 12px;
      margin-top: 8px;
    }
  }

  &__button {
    @extend %paragraph4;

    border-radius: 28px;
    color: $grey;
    padding: 3px 16px 1px;
    cursor: pointer;
    position: relative;

    @media (max-width: $sm) {
      order: 2;
    }

    &--follow {
      background: linear-gradient(180deg, #ffde3d 0%, #dd4113 100%);
      padding-left: 32px;
      width: 91px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 2px;
        top: 2px;
        background: url("../img/info-follow-icon.svg");
      }

      &:after {
        content: "follow";
      }

      &:hover {
        background: $primary;
      }
    }

    &--cancel {
      padding-right: 32px;
      background: $black56;
      width: 94px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 2px;
        top: 2px;
        background: url("../img/info-cancel-icon.svg");
      }

      &:after {
        content: "cancel";
      }

      &:hover {
        background: $black;
      }
    }

    &--unfollow {
      border: 1px solid $primary;
      color: $primary;
      width: 98px;

      &:before {
        content: "following";
      }

      &:after {
        content: "unfollow";
        display: none;
      }

      &:hover {
        background: $primary;
        color: $grey;

        &:before {
          display: none;
        }

        &:after {
          display: block;
        }
      }
    }
  }

  &__verified {
    @extend %paragraph5;

    color: #03aa00;
    margin-top: 5px;
    margin-left: auto;

    @media (max-width: 1469px) {
      max-width: 100px;
    }

    @media (max-width: 1405px) {
      max-width: 100%;
    }

    @media (max-width: 1299px) {
      max-width: 100px;
    }

    @media (max-width: $md) {
      max-width: 100%;
    }

    @media (max-width: $sm) {
      order: 4;
      width: 100%;
      margin-top: 20px;
    }

    @media (max-width: $xs) {
      order: 5;
    }

    & + .user-info__vip {
      margin-left: 16px;
    }
  }

  &__vip {
    margin-left: auto;
    margin-right: 24px;
    font-family: $boldFont;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: $black;
    background: $secondary;
    border-radius: 99px;
    min-width: 42px;
    text-align: center;
    padding: 2px 0 0 4px;

    @media (max-width: 1405px) {
      margin-right: 0;
    }

    @media (max-width: $sm) {
      order: 3;
    }

    @media (max-width: $xs) {
      position: absolute;
      right: 0;
      top: 44px;
    }

    & + .user-info__right {
      margin-left: 0;

      @media (max-width: $xs) {
        margin-left: auto;

        .header-rate {
          margin-left: auto;
        }

        .user-info__report {
          margin-right: 50px;
        }
      }
    }
  }

  &__right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1405px) {
      display: none;
    }

    @media (max-width: $sm) {
      order: 4;
    }

    @media (max-width: 767px) {
      display: flex;
    }
  }

  &__report {
    margin: 4px 2px 0 0;
  }

  &__about {
    @extend %paragraph;

    position: absolute;
    bottom: 24px;
    left: 84px;
    color: $black8;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    @media (max-width: 1599px) {
      position: relative;
      bottom: auto;
      left: auto;
      width: 100%;
      margin-top: 16px;
    }

    @media (max-width: $sm) {
      order: 5;
    }

    span:not(.user-info__flag) {
      padding: 4px 8px 0 0;
      border-right: 1px solid $black08;
      flex-shrink: 0;
      margin-right: 8px;

      &.user-info__place {
        padding-left: 12px;
      }

      &:last-child {
        border-right: 0;
      }
    }

    &--disabled {
      display: flex;
      margin-top: 16px;

      span {
        width: 161px;
        height: 16px;
        background: $black08;
        border-radius: 12px;
        margin-right: 7px;
        display: block;

        &:nth-child(2) {
          width: 135px;
          position: relative;
          margin-left: 7px;

          @media (max-width: 900px) {
            display: none;
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: -8px;
            top: -4px;
            width: 1px;
            height: 24px;
            background: $black08;
          }
        }
      }
    }
  }

  &__flag {
    display: block;
    width: 24px;
    height: 16px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__update-location {
    display: none;
    cursor: pointer;
    color: $primary;
    transition: 0.3s;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -9px;
      top: 0;
      bottom: 0;
      width: 2px;
      background: #fff;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 2px;
      left: 34px;
      right: 8px;
      height: 1px;
      border-bottom: 1px dashed $primary;
      transition: 0.3s;
    }

    &:hover {
      color: $black;

      &:after {
        border-color: $black56;
      }

      svg path {
        fill: $black;
      }
    }

    svg {
      margin-top: -2px;
      margin-right: 8px;

      path {
        fill: $primary;
        transition: 0.3s;
      }
    }
  }

  &__about-gradient {
    display: none;
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 30px;
    height: 44px;
    background: linear-gradient(270deg, #ffffff 12.43%, rgba(255, 255, 255, 0) 95.45%);

    @media (max-width: 1599px) {
      display: block;
    }
  }

  // center

  &__center {
    padding: 20px 0 12px;
    border-bottom: 1px solid $black08;

    &--disabled {
      border-bottom: 0;
      padding: 28px 0 40px;
      display: none;
    }
  }

  &__status {
    @extend %text;

    color: $black;
    transition: 0.3s;

    &--disabled {
      width: 257px;
      height: 16px;
      background: $black08;
      border-radius: 12px;
      white-space: nowrap;
      overflow: hidden;
      color: transparent;
    }

    &--empty {
      color: $black56;
    }
  }

  &__text-block {
    padding: 20px 0 40px;

    p {
      @extend %text;

      color: $black;
      margin-top: 8px;
    }
  }

  &__text-title {
    @extend %paragraph;

    color: $black8;
  }
}

// tags

.user-info-tags {
  margin-top: 8px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:before {
    @extend %paragraph;

    content: "Tags";
    color: $black8;
    margin-right: 8px;
  }

  &--disabled {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  &__item {
    @extend %paragraph4;

    margin: 8px 4px 8px 0;
    display: block;
    color: $grey;
    background: $black;
    border-radius: 28px;
    padding: 3px 14px 1px 16px;

    &:last-child {
      margin-right: 0;
    }

    &--disabled {
      display: block;
      width: 72px;
      height: 16px;
      background: $black08;
      border-radius: 12px;
      margin: 0 4px 0 0;

      &:last-child {
        @media (max-width: 900px) {
          display: none;
        }
      }
    }
  }
}

// status editing

.user-info-edit-status {
  background: $grey;
  border: 1px solid $black08;
  padding: 20px 24px;
  margin: -1px 0 0 -28px;
  width: calc(100% + 56px);

  input {
    @extend %paragraph3;

    display: block;
    width: 100%;
    color: $black;
    padding: 7px 8px 5px;
    border: 1px solid $black56;
    transition: 0.3s;

    &:hover,
    &:focus {
      border-color: $black8;
    }

    &:active {
      border-color: $black;
    }
  }

  button {
    @extend %paragraph2;

    color: $grey;
    background: $primary;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 144px;
    height: 40px;
    padding-top: 3px;

    &:hover {
      background: $secondary;
      color: $black;
    }

    &:disabled,
    &--disabled {
      background: $primary;
      color: $grey56;
      cursor: default;
      pointer-events: none;
    }
  }
}
