@import "layout/var";

.modal {
  background: $black56;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  padding: 40px 0;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;

  @media (max-width: 767px) {
    padding: 0;
  }

  &--white {
    .modal__content {
      background: #fff;
    }

    .modal__close {
      background: url("../img/close-black-icon.svg");
    }

    .modal__title {
      color: $black;
    }

    .video-advantages {
      margin: 0;
      padding: 0;

      &__item {
        margin-top: 24px !important;
        border-right: 0 !important;
      }
    }

    .socials__link {
      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
    }
  }

  &--grey {
    background: rgba(42, 42, 42, 0.8);

    .modal__content {
      background: $grey;
    }

    .modal__close {
      background: url("../img/close-black-icon.svg");
    }

    .modal__title {
      color: $black;
      font-family: $boldFont;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &--w752 {
    .modal__content {
      width: 752px;
      padding: 64px 90px;

      @media (max-width: $xs) {
        width: calc(100% - 24px);
        margin-top: 12px;
        min-height: calc(100% - 24px);
        height: auto;
        padding: 64px 26px 42px;
      }
    }
  }

  &--w636 {
    .modal__content {
      width: 636px;
      padding: 64px 108px;

      @media (max-width: $xs) {
        width: calc(100% - 24px);
        margin-top: 12px;
        min-height: calc(100% - 24px);
        height: auto;
        padding: 64px 26px 42px;
      }
    }
  }

  &--opened {
    opacity: 1;
    pointer-events: auto;
  }

  &__content {
    margin: auto;
    background: $ultraBlack;
    padding: 40px;
    width: 420px;
    position: relative;

    @media (max-width: 767px) {
      width: 100%;
      height: 100%;
      padding: 20px;
    }
  }

  &__close {
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    background: url("../img/close-icon.svg");
    cursor: pointer;
  }

  &__title {
    @extend %heading1;

    color: $grey;

    &--center {
      text-align: center;
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__caption {
    @extend %heading3;

    color: $grey8;
    margin-top: 24px;

    & + .sidebar-panel-radio {
      margin-top: 8px;
      border-top: 1px solid $grey08;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 4px;

    &--join {
      margin-top: 40px;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 767px) {
        margin-top: 32px;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__button {
    @extend %paragraph2;

    margin-top: 20px;
    color: $grey;
    background: $primary;
    cursor: pointer;
    border-radius: 20px;
    width: 144px;
    height: 40px;
    padding-top: 3px;

    &:hover {
      background: $secondary;
      color: $black;
    }

    &--no {
      margin-right: 20px;
      width: 116px;
      background: #fff;
      color: $primary;

      &:hover {
        background: $primary;
        color: $grey;
      }
    }

    &--big {
      width: 180px;
      margin-top: 0;

      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }

  &__label {
    @extend %text;

    display: block;
    margin-top: 22px;
    color: $grey8;
  }

  &__textarea {
    @extend %paragraph3;

    margin-top: 6px;
    width: 100%;
    resize: none;
    height: 132px;
    border: 1px solid $grey56;
    padding: 14px 16px;
    transition: 0.3s;
    background: transparent;
    color: $grey;

    &:hover {
      border-color: $grey8;
    }

    &:focus,
    &:active {
      border-color: $grey;
    }
  }

  &__input {
    @extend %paragraph3;

    margin-top: 6px;
    width: 100%;
    resize: none;
    height: 48px;
    border: 1px solid $grey56;
    padding: 3px 16px;
    transition: 0.3s;
    background: transparent;
    color: $grey;

    &:hover {
      border-color: $grey8;
    }

    &:focus,
    &:active {
      border-color: $grey;
    }

    & + .modal__label {
      margin-top: 14px;
    }
  }

  &__text {
    @extend %paragraph;

    margin-top: 24px;
    color: $grey;
  }

  &__vip-bold {
    margin-top: 40px;
    font-family: $boldFont;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;

    @media (max-width: $xs) {
      margin-top: 24px;
    }

    &--center {
      text-align: center;
    }

    span {
      color: $primary;
    }
  }

  &__vip-history {
    display: block;
    margin-top: 12px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.16em;
    text-decoration-line: underline;
    color: $black;
    font-size: 13px;
    line-height: 32px;

    &:hover {
      text-decoration: none;
    }
  }

  &__vip-text {
    margin: 24px 0 48px;
    text-align: center;
    font-size: 17px;
    line-height: 32px;
    font-family: $regFont;
    letter-spacing: 0.16em;

    @media (max-width: $xs) {
      margin-bottom: 40px;
    }
  }
}
