@import "layout/var";

.socials {
  display: flex;
  justify-content: center;

  &__link {
    width: 40px;
    height: 40px;
    border: 1px solid $primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: $primary;

      .socials__icon {
        fill: #ffffff;
      }
    }
  }

  &__icon {
    fill: $primary;
  }
}
