@import "src/shared/ui/styles/layout/var";

.my_profile_layout {
  display: flex;
  align-items: flex-start;
  padding-bottom: 28px;
  width: 100%;
  margin-right: 20px;

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 0 8px;
  }

  .left {
    width: 340px;
    flex-shrink: 0;
    margin-right: 40px;

    @media (max-width: 1599px) {
      width: 244px;
    }

    @media (max-width: 1405px) {
      width: 214px;
      margin-right: 20px;
    }

    @media (max-width: 900px) {
      width: 150px;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .right {
    width: 100%;

    @media (max-width: 767px) {
      margin-top: 16px;
    }

    & > div {
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
