@import "src/shared/ui/styles/layout/var";

.reviews_card {
  background: $black8;
  position: relative;
  border-radius: $radius;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid $grey56;

    transition: all 0.3s;
    opacity: 0;
    top: 0;
    left: 0;

    z-index: -1;
  }

  &.two {
    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      top: 4px;
      left: -5px;
      opacity: 1;
    }
  }

  &.many {
    &:before {
      top: 4px;
      left: -5px;
      opacity: 1;
    }

    &:after {
      top: 8px;
      left: -9px;
      opacity: 1;
    }
  }

  &.loading {
    pointer-events: none;
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    transition: opacity 0.3s;
  }

  .ava {
    flex-shrink: 0;
  }

  .info {
    margin-left: 12px;
  }

  .name {
    @extend %paragraph2;
    cursor: pointer;

    color: #ffffff;
  }

  .text {
    @extend %paragraph5;

    color: #ffffff;
  }

  .follow {
    margin: 1px 1px 0 auto;
    flex-shrink: 0;
  }

  .divider {
    border-top: 1px solid $grey56;
  }

  .bottom {
    position: relative;
    transition: opacity 0.3s;
    z-index: 2;
  }

  .go {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("/img/right-arrow.svg");
    opacity: 0.56;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      opacity: 1;
    }
  }
}
