@font-face {
  font-family: "Helvetica Light";
  src: url("/fonts/HelveticaLight.eot");
  src: url("/fonts/HelveticaLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaLight.woff") format("woff"), url("/fonts/HelveticaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Regular";
  src: url("/fonts/HelveticaRegular.eot");
  src: url("/fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaRegular.woff") format("woff"), url("/fonts/HelveticaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("/fonts/HelveticaBold.eot");
  src: url("/fonts/HelveticaBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaBold.woff") format("woff"), url("/fonts/HelveticaBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
