%heading1 {
  font-family: $boldFont;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

%heading2 {
  font-family: $regFont;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

%heading3 {
  font-family: $regFont;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.16em;
}

%title {
  font-family: $boldFont;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
}

%text {
  font-family: $regFont;
  font-size: 17px;
  line-height: 24px;
}

%paragraph {
  font-family: $regFont;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.08em;
}

%paragraph2 {
  font-family: $boldFont;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

%paragraph3 {
  font-family: $regFont;
  font-size: 16px;
  line-height: 20px;
}

%paragraph4 {
  font-family: $boldFont;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

%paragraph5 {
  font-family: $regFont;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

%paragraph6 {
  font-family: $lightFont;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

%caption {
  font-family: $regFont;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.08em;
}
