@import "src/shared/ui/styles/layout/var";

.dating_range_input {
  display: flex;
  align-items: center;
  margin-top: 8px;

  @media (max-width: $xs) {
    margin-top: 0;
  }

  input {
    @extend %paragraph3;

    width: 120px;
    height: 44px;
    flex-shrink: 0;
    display: block;
    color: #ffffff;
    border: 1px solid $grey56;
    padding: 2px 16px 0;
    transition: 0.3s;

    background-color: $black8;
    border-radius: $radius;

    @media (max-width: $xs) {
      height: 36px;
      width: 92px;
      padding: 2px 10px 0;
      font-size: 13px;
    }

    @include placeholderColor($black);

    &:hover,
    &:focus,
    &:active {
      border-color: #ffffff;
    }

    &:last-child {
      @media (max-width: $lg) {
        //width: 96px;
      }

      @media (max-width: $xs) {
        //width: 72px;
      }
    }
  }

  span {
    width: 12px;
    height: 1px;
    display: block;
    background: #ffffff;
    margin: 0 12px;

    @media (max-width: $xs) {
      margin: 0 4px;
    }
  }
}
