@import "src/shared/ui/styles/layout/var";

.back_button {
  @extend %paragraph3;

  color: $grey56;
  transition: 0.15s;
  cursor: pointer;
  position: absolute;
  top: 26px;
  left: 30px;
  padding-left: 23px;

  @media (max-width: $xs) {
    left: 20px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 18px;
    background: url("/img/back-icon.svg") no-repeat center;
    opacity: 0.56;
    transition: 0.3s;
  }

  &:hover {
    color: #ffffff;

    &:before {
      opacity: 1;
    }
  }
}
