@import "src/shared/ui/styles/layout/var";

.update_location {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $primary;
  transition: 0.3s;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -9px;
    top: 0;
    bottom: 0;
    width: 2px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    left: 34px;
    right: 8px;
    height: 1px;
    border-bottom: 1px dashed $primary;
    transition: 0.3s;
  }

  &:hover {
    color: $secondary;

    &:after {
      border-color: $black56;
    }
  }

  svg {
    margin-top: -2px;
    margin-right: 8px;
  }
}
