@import "src/shared/ui/styles/layout/var";

.chat_panel {
  padding: 0;
  background: black;

  .content {
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
}

.chat {
  width: 100%;
  flex: 1;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
