@import "src/shared/ui/styles/layout/var";

.user_card_header {
  .top {
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;

    @media (max-width: 1599px) {
      flex-wrap: wrap;
      padding-bottom: 16px;
    }

    @media (max-width: 767px) {
      padding-top: 12px;
      align-items: center;
    }

    &--disabled {
      display: none;
      flex-wrap: nowrap !important;

      @media (max-width: 767px) {
        padding: 20px 0;
      }
    }
  }

  .ava {
    width: 64px !important;
    height: 64px !important;
    border-radius: 50%;
    margin-right: 20px;

    @media (max-width: $sm) {
      order: 0;
    }

    @media (max-width: 767px) {
      width: 44px;
      height: 44px;
      margin-right: 8px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &--disabled {
      background: $grey08;
      margin-right: 16px;

      @media (max-width: 767px) {
        width: 64px;
        height: 64px;
      }
    }
  }

  .main {
    display: flex;

    @media (max-width: 1599px) {
      flex-direction: column;
    }

    @media (max-width: $sm) {
      order: 1;
    }
  }

  .name {
    @extend %title;

    color: #ffffff;
    margin: 4px 12px 0 0;

    @media (max-width: 1599px) {
      margin-bottom: 4px;
    }
  }

  .button {
    @extend %paragraph4;

    border-radius: 28px;
    color: $grey;
    padding: 3px 16px 1px;
    cursor: pointer;
    position: relative;

    @media (max-width: $sm) {
      order: 2;
    }

    &.follow {
      background: $primary;
      padding-left: 32px;
      width: 91px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 2px;
        top: 2px;
        background: url("/img/info-follow-icon.svg");
      }

      &:after {
        content: "follow";
      }

      &:hover {
        background: $primary;
      }
    }

    &.cancel {
      padding-right: 32px;
      background: $grey56;
      width: 94px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 2px;
        top: 2px;
        background: url("/img/info-cancel-icon.svg");
      }

      &:after {
        content: "cancel";
      }

      &:hover {
        background: $black;
      }
    }

    &.unfollow {
      border: 1px solid $primary;
      color: $primary;
      width: 98px;

      &:before {
        content: "following";
      }

      &:after {
        content: "unfollow";
        display: none;
      }

      &:hover {
        background: $primary;
        color: $grey;

        &:before {
          display: none;
        }

        &:after {
          display: block;
        }
      }
    }
  }

  .vip {
    margin-left: auto;
    margin-right: 24px;
    font-family: $boldFont;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: $black;
    background: $secondary;
    border-radius: $radius;
    min-width: 42px;
    text-align: center;
    padding: 2px 0 0 4px;

    @media (max-width: 1405px) {
      margin-right: 0;
    }

    @media (max-width: $sm) {
      order: 3;
    }

    @media (max-width: $xs) {
      position: absolute;
      right: 0;
      top: 44px;
    }

    & + .right {
      margin-left: 8px;

      @media (max-width: $xs) {
        margin-left: auto;

        .rate {
          margin-left: auto;
        }

        .report {
          margin-right: 50px;
        }
      }
    }
  }

  .right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1405px) {
    }

    @media (max-width: $sm) {
      order: 4;
    }

    @media (max-width: 767px) {
      display: flex;
    }

    .rate {
      @extend %heading3;

      color: $primary;
      padding-left: 32px;
      position: relative;
      display: block;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        background: url("/img/profile-star.svg");
        left: 0;
        top: 0;
      }
    }
  }

  .header_controls {
    width: 140px;
    align-items: baseline;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4px;
    flex-wrap: wrap;
    gap: 19px;
  }

  .cancel {
    @extend %paragraph5;

    color: $grey56;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: #ffffff;
    }

    &_icon {
      position: relative;
      top: 1px;
    }
  }

  .report {
    @extend %paragraph5;

    align-self: flex-end;
    //margin: 4px 2px 0 0;
    color: $grey56;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    display: block;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      background: url("/img/report-icon.svg");
      left: 0;
      top: 2px;
      opacity: 0.56;
      transition: 0.3s;
    }

    &:hover {
      color: #ffffff;

      &:before {
        opacity: 1;
      }
    }

    &--disabled {
      padding-left: 0;
      pointer-events: none;

      &:before {
        display: none;
      }
    }
  }
}
